$background-color: white;
$brand-color: rgb(94,25,142);
$secondary-brand-color: rgb(50,58,69);
$orange: rgb(255,171,84);
$darkorange: rgb(216,123,39);
$purple: rgb(173,107,130);
$lightgrey: rgb(237,235,235);
$mediumgrey: rgb(102,102,102);
$darkgrey: rgb(50,50,50);
$defaultLinkColor: #17BA9B;


$canvas: white;

$canvas-vivid: white;
$canvas-hard: white;
$canvas-soft: #eee;
$canvas-dim: #ddd;

$content: #000;
$content-hard: ;
	
	
	
$feature: blue; // widget, 'special canvas'

$primary: navy; // main branding
$secondary: darken( $brand-color, 20% ); // secondary branding

$glow: rgba(255,255,255,.6);
$shade: rgba(0,0,0,.4);


* {
line-height: 1;
}

h1 {
	line-height: 1.2;
}

p {
	line-height: 1.5;
}


$span: 2em;



$edge: .2em;

