.detailedDescription{
	padding: $medium-percentage;
	background: rgba(white, .5);
	font-size: 80%;
}
.creativeCommons{
	box-sizing: border-box;
	font-size: 1.5em;
}
.creativeCommons span{
	margin-right: .3em;
}
.creativeCommons a{
	color: $brand-color;
}