.rating span{
	padding: 0 0.1em;
	cursor: pointer;
}
.rating span:hover{
	color: $defaultLinkColor;
}
.isRated1 span:nth-child(-n+1), .rated1 span:nth-child(-n+1){
	color: $defaultLinkColor;
}
.isRated2 span:nth-child(-n+2), .rated2 span:nth-child(-n+2){
	color: $defaultLinkColor;
}
.isRated3 span:nth-child(-n+3), .rated3 span:nth-child(-n+3){
	color: $defaultLinkColor;
}
.isRated4 span:nth-child(-n+4), .rated4 span:nth-child(-n+4){
	color: $defaultLinkColor;
}
.isRated5 span:nth-child(-n+5), .rated5 span:nth-child(-n+5){
	color: $defaultLinkColor;
}