html, body, .blogMain, .blogArticle, .blogArticle header, .blog{
  height: 100%;
}

.blog ul li{
  background: red;
  margin: 0;
  color: white;
  width: 50%;
}

.blog ul li h1{
  font-size: 3.3em;
  line-height: 1.5em;
}

.blog ul li a{
  color: white;
  display: block;
  padding: $small-em $medium-em;
}

.blog ul li:nth-child(even){
  background: darken($darkorange, 2%);
}

.blog ul li:nth-child(odd){
  background: $secondary-brand-color;
}

.blogArticle header{
  background-size: cover;
  background-position: center;
}

.blogArticle header .intro{
  max-width: 35em;
  font-size: 1.3em;
  color: $canvas;
  margin-bottom: 0;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 60%;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

.blogArticle header .intro p{
  font-size: 1.5em;
}

.blogArticle header::before{
	content: "";
	background-attachment: fixed;
  background: black;
  opacity: .3;
  top: 0;
	background-size: cover;
	background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.blogArticle main{
  float: left;
  padding: $small-em $medium-em $medium-em;
  box-sizing: border-box;
  width: 100%;
}

.blogContent{
  margin: auto;
  max-width: 40em;
}
.blogArticle main p{
  max-width: 40em;
  
}
