.needHelp{
	padding: $small-em;
	background-color: rgba(white, .3);
	color: $darkgrey;
	width: 100%;
}
.needHelp li{
	padding: $tiny-em 0;
	border-bottom: white 1px solid;
}
.addHelp{
	display: none;
}
.addHelp input{
	width: 44%;
}
.addHelp button{
	margin-left: $xsmall-em;
}
