.bom{
	padding: $small-percentage;
	background-color: rgba(white, .3);
	color: $darkgrey;
}
.bom li{
	padding: $tiny-percentage 0;
	border-bottom: white 1px solid;
}
.addMaterial{
	display: none;
}
.addMaterial input{
	width: 44%;
}
.addMaterial button{
	margin-left: $xsmall-em;
}