button, .btn{
	color: white;
	background-color: $brand-color;
	cursor: pointer;
	padding: $small-em;
	border-radius: 1px;
  transition: opacity 0.3s ease-in-out;
}
.btn{
	color: white;
	display: inline-block;
	background-color: $brand-color;
	cursor: pointer;
	padding: $small-em;
	border-radius: 1px;
  transition: opacity 0.3s ease-in-out;
}
.updateProjectBtn{
	position: relative;
	top: -0.3em;
}
.oppositeBtn{
	color: $brand-color;
	background: white;
}
button:hover, .btn:hover{
	opacity: 0.8;
}
input[type="submit"]{
	color: white;
	background-color: $brand-color;
	cursor: pointer;
	padding: $small-em;
	border-radius: 1px;
  transition: opacity 0.3s ease-in-out;
	border: none;
	width: auto !important;
}