.collaboratedProjects{
  padding: $medium-em;
  width: 100%;
  background: rgba($brand-color, .2);
}
.collaboratedProjects ul li{
  padding: 1% 0;
}
//.collaboratedProjects ul{
//  -moz-column-count: 2;
//    -moz-column-gap: 20px;
//    -webkit-column-count: 2;
//    -webkit-column-gap: 20px;
//    column-count: 2;
//    column-gap: 20px;
//}
