.projectComments{
	background-color: white;
	border-bottom: 1px solid $lightgrey;
}
#commenttitle{
	margin-bottom: 0;
}
.comment h2{
	margin-bottom: .2em;
}
.projectComments header{
	background-color: white;
	width: 100%;
}
.projectComments div{
	width: 50%;
}
.projectComments ul{
	background: white;
	display: none;
}
.viewcomments{
	text-align: right;
	cursor: pointer;
}

.projectComments span{
	margin-right: 0.1em;
}
.comment{
	border-top: 1px solid $lightgrey;
	padding: $small-em 0 0 0;
}
.commentInput{
	background: white;
}
.commentInput form{
	border-top: 1px solid $lightgrey;
	padding-top: $small-em;
}
.commentInput input, .commentInput textarea{
	margin-bottom: $xsmall-em;
	max-width: 100%;
	box-sizing: border-box;
}
#newrating{
	margin-bottom: .3em;
}
