.contactMaker {
  background: #f2f2f2;
  width: 100%;
  display: none;
}
.contactMaker input, .contactMaker textarea{
  width: 100%;
  max-width: 100%;
  border-color: $mediumgrey;
  margin-bottom: .625em;
}
.notLoggedIn #contactinitiator{
  display: none !important;
}
