.detailedDescription{
	padding: 4%;
	background: rgba(white, .5);
}
.creativeCommons{
	box-sizing: border-box;
	font-size: 1.5em;
}
.creativeCommons span{
	margin-right: .3em;
}
.creativeCommons a{
	color: $brand-color;
}