.detailedDescription {
	background: rgba(white, .5);

  p {
    font-size: 1em;
  }
}
.creativeCommons{
	box-sizing: border-box;
}
.creativeCommons span{
	margin-right: .3em;
}
.creativeCommons a{
	color: $brand-color;
}
