.detailedDescription {
  border-bottom: 1px solid $lightgrey;
  p {
    font-size: 1em;
  }
}
.creativeCommons{
	box-sizing: border-box;
}
.creativeCommons span{
	margin-right: .3em;
}
.creativeCommons a{
	color: $brand-color;
}
