#ajax-loader{
	width: 20px;
	left: 20px;
	top: 26px;
}
#commentMessages span{
	background: none repeat scroll 0 0 rgba(255,0,0, .7);
	color: white;
	font-size: 1.3em;
	padding: 2%;
	display: block;
}
#commentMessages{
	width: 100%;
}
.uploadstatus p{
	padding: 2% 6%;
	background: rgba($brand-color, 0.6);
	color: white;
	margin: -0.5em 0 0.5em;
}