.landingSection{
	width: 100%;
	padding: $small-percentage $medium-percentage;
	background-color: rgba($secondary, .50);
}
.landingSection::after{
	content: "";
  background: url(../images/protheses.jpg);
	background-attachment: fixed;
  opacity: .6;
  top: 0;
	background-size: cover;
	background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}
.branding{
	color: white;
	padding: $medium-percentage 0;
	max-width: 50%;
}
.branding h1{
	font-size: 4em;
}
.branding h1 span{
	font-size: 1.5em;
}
.signupHome{
	max-width: 30%;
	background: white;
	position: absolute;
	top: 50%;
	right: 8%;
	transform: translateY(-50%);
	padding: $xsmall-percentage;
	
}
.signupHome input{
	width: 100%;
	margin-bottom: $xsmall-em;
	padding: .5em;
}