
.questionsList li, .addTutorial, .detailedDescription, .projectVersions, .userProjectVersions, .commentInput form, .commentInput, .projectComments ul, .projectComments header, .projectComments, .mainContent, .mainContent .projectHeader div, .projectDetails, .userDetails, .postProject, .editProject, .loginScreen, .accountScreen,.logoutScreen, .bom{
	@include box-sizing(border-box);
}
body{
	overflow-x: hidden;
}
.projectComments ul,.mainContent, .projectHeader, .mainContent .projectComments li, .commentInput, .commentInput input, .commentInput textarea, .commentInput form, .addTutorial, .projectComments, .userDetails, .projectDetails, .userProjectVersions, .projectVersions, .detailedDescription, .bom{
	width: 100%;
}

.mainContent .projectHeader img, .mainContent .projectHeader .projectMainDes{
 	width: 100%;
}

.project-icon {
	max-width: 100%;
}

.project-header {
	border-bottom: 1px solid $lightgrey;
}

.listView {
	text-align: center;
}

.col-2{
	width: 50%;
}

.two-col{
	width: 50%;
}

.fullWidth{
	width: 100%;
}

.mainContent .preview{
	width: 25%;
}

.mainContent li a{
	color: $darkgrey;
}
.mainContent .projectHeader div {
	color: $darkgrey;
}
.about__home {
	background: white;
	width: 100%;
}
.about__home .wrapper{
	column-count: 2;
	column-gap: 60px;
	font-size: .875em;
	margin: auto;
	max-width: 80em;
}
.about__home .wrapper h2{
	column-span: all;
	text-align: left;
}
.about__home .wrapper h3{
	margin-top:1.5714285714285714em;
	font-weight: bold;
}
.delete-icon{
	transform: rotate(45deg);
	cursor: pointer;
	z-index: 2;
	color: red;
}
.addTutorial{
	background: white;
	padding: $small-em;
	display: none;
}
.step{
	padding-top: 2em;
	margin-top: 2em;
	border-top: 1px solid $lightgrey;
}
.detailedDescription ul{
	margin-bottom: $medium-em;
	list-style: circle;
	padding-left:  $medium-em;
}
.detailedDescription img{
	max-width: 100%;
}

#personalwebsite[href='']{
    display:none;
}
