.questionsList li, .addTutorial, .detailedDescription, .projectVersions, .userProjectVersions, .commentInput form, .commentInput, .projectComments ul, .projectComments header, .projectComments, .mainContent, .mainContent .projectHeader div, .projectDetails, .userDetails, .postProject, .editProject, .loginScreen, .accountScreen,.logoutScreen, .bom{
	@include box-sizing(border-box);
}
body{
	background-color: $lightgrey;
}
.projectComments ul,.mainContent, .projectHeader, .mainContent .projectComments li, .commentInput, .commentInput input, .commentInput textarea, .commentInput form, .addTutorial, .projectComments, .userDetails, .projectDetails, .userProjectVersions, .projectVersions, .detailedDescription, .bom{
	width: 100%;
}
.mainContent .projectHeader img, .mainContent .projectHeader div{
 	width: 50%;
 }
.listView{
	padding-bottom: $xsmall-percentage;
	text-align: center;
}
.col-2{
	width: 50%;
}
.two-col{
	width: 50%;
}
.fullWidth{
	width: 100%;
}
.mainContent .preview{
	margin: $xsmall-percentage 0 0 $xsmall-percentage;
	width: 22.5%;
}
.mainContent li a{
	color: $darkgrey;
}
.mainContent .projectHeader div{
	padding: $small-percentage;
	background-color: $darkgrey;
	color: white;
}
.editprojecticon{
	font-size: 0.875em;
	cursor: pointer;
}
.delete-icon{
	transform: rotate(45deg);
	cursor: pointer;
	z-index: 2;
	color: red;
}
.addTutorial{
	background: white;
	padding: $small-percentage;
	display: none;
}
.step{
	padding-top: 2em;
	margin-top: 2em;
	border-top: 1px solid $lightgrey;
}

.loader{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.detailedDescription ul{
	margin-bottom: $medium-em;
	list-style: circle;
	padding-left:  $medium-em;
}
.detailedDescription img{
	max-width: 100%;
}