@media only screen and (max-width: 1280px)  {
	.mainContent .preview{
		width: 30.6%;
	}
}

@media only screen and (max-width: 930px)  {	
 .col-2, .mainContent .projectHeader img, .mainContent .projectHeader div{
		width: 100%;
	}
	.mainContent .preview{
		width: 47%;
	}
}

@media only screen and (max-width: 640px)  {		
	.mainNavigation{
		font-size: 1em;
		height: 57px;
	}
	.mainSearch{
		font-size: .65em;
		height: 65px;
	}
	#main{
		margin-top: 122px;
	}
	.footerNav section{
		width: 40%;
		margin: $small-percentage;
	}
	.userProjectVersions, .detailedDescription{
		padding: $small-percentage;
	}
	.two-col{
		width: 100%;
	}
	.branding{
		max-width: 100%;
	}
	.signupHome{
		max-width: 100%;
	}
	.mainContent .preview{
		width: 96%;
	}
	.mainNavigation li a, .shareDesignBtn{
		padding: 0 0.8em;
	}
	.loginBtn{
		display: none;
	}
	.mainSearch input{
		width: 18em;
	}
}