.logo, .shareDesignBtn, .mainNavigation li, .mainNavigation li a{
	height: 100%;
}
.mainNavigation{
	background-color: rgba($canvas, .9);
	width: 100%;
	font-size: 1.3125em;
	border-bottom: 1px solid $lightgrey;
	min-height: 51px;
}
.logo{
	background: $darkgrey;
	padding: 0 1.4em;
	line-height: 3.6em;
	color: white;
}
.shareDesignBtn{
	background-color: $brand-color;
	padding: 0 1.4em;
	line-height: 3.6em;
	color: white;
}
.mainNavigation li{
	display: inline-block;
}

.mainNavigation li a{
	color: $mediumgrey;
	padding: 0 1.4em;
	line-height: 2.8em;
	display: inline-block;
}
.mainNavigation li .logo{
	color: white;
}
.mainNavigation .current .logo{
	color: $mediumgrey;
}
.mainNavigation li .logo{
	color: $mediumgrey;
	background-color: white;
}
.mainNavigation .current a{
	background-color: white;
}
.mainNavigation li a:hover{
	background-color: white;
}
.mainNavigation a{
	line-height: 2.8em;
}
.mainNavigation .languageSelect{
	margin: 15px 15px 0 0;
	font-size: 0.875em;
}
//.mainNavigation select{
//	border: 1px solid $mediumgrey;
//	padding: $xsmall-em;
//	margin: $xsmall-em;
//	font-size: 1em;
//}
.loginBtn{
	color: $brand-color !important;
}
#main{
	margin-top: 50px;
}
.mainHeader{
	position: fixed;
	opacity: .98;
	font-size: 85%;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	background: $lightgrey;
}

.mainNavigation ul{
	height: 50px;
}

.current{
	background-color: $lightgrey !important;
}

.mobileNav{
	display: none;
}
.activeMenu{
	transform: translateX(0%) !important;
	transition: all .4s ease-in-out;
}
.projectNavBtn{
	position: fixed;
	right: 0;
	top: 51px;
	font-size: 1em;
	z-index: 3;
	transition: all .4s ease-in-out;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-left: 1px solid $lightgrey;
	border-bottom: 1px solid $lightgrey;
}
.projectNavBtnActive{
	right: 25%;
	transition: all .4s ease-in-out;
}
.editMenu{
	position: fixed;
	top: 51px;
	right: 0;
	width: 25%;
	border-left: 1px solid $lightgrey;
	height: calc(100% - 51px);
	padding: $xsmall-percentage;
	z-index: 3;
	background: $canvas;
	transform: translateX(100%);
	transition: all .4s ease-in-out;
}
.editMenu li{
	border-bottom: 1px solid $lightgrey;
	font-size: 1.3em;
	padding: $xsmall-percentage 0;
}
.editMenu li a{
	color: $mediumgrey;
}
.close-icon-menu{
	cursor: pointer;
	font-size: 1.5em;
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(45deg);
	z-index: 2;
}