.standardPage{
	padding: $big-em;
}
.standardPage{
	max-width: 50em;
	font-size: 1.2em;
}
.lazyLoginScreen{
	padding: $medium-em;
	background: white;
}
.standardPage ul{
	list-style: square;
	padding-left: $smedium-em;
}

.termsPage{
	font-size: .875em;
	max-width: 60em;
}
.notFoundPage{
	background-image: url(../images/404.jpg);
	background-size: cover;
	background-position: center left;
	width: 100%;
	max-width: none;
}
.notFoundPage .simpleSearch{
	background: white;
	padding: $small-em;
	margin-top: $medium-em;
}
.notFoundPage header{
	background: white;
	padding: $small-em;
	display: inline-block;
	font-size: .875em;
	max-width: 45em;
}

.resetPasswordPage{
	padding: $xsmall-em;
	background-color: $canvas;
}

.mainfest-point{
	background: $canvas;
	padding: $smedium-em;
	margin-bottom: $smedium-em;
	font-size: 80%;
//	cursor: pointer;
}
.mainfest-point h2{
	margin-bottom: 0;
}
.mainfest-point p{
	display: none;
}

.mainfest-point p:last-child {
	margin-bottom: 0;
}

.theContent{
	margin-top: 0 !important;
}

.introductionPage{
	margin: auto;
	text-align: center;
}

.introductionPage section{
	margin-bottom: 6em;
}

.whoImage{
	margin-bottom: 2em;
	max-width: 400px;
}
