.standardPage{
	padding: $medium-percentage;
}
.standardPage{
	max-width: 50em;
	font-size: 1.2em;
}
.lazyLoginScreen{
	padding: $medium-percentage;
	background: white;
}
.standardPage ul{
	list-style: square;
	padding-left: $smedium-percentage;
}