#combineTheChildrenToOneElement {
	display: flex;
	flex-wrap: wrap;
}

.panel .container:nth-of-type(1) {
	margin-right: 40px;
}

.panel form{
	max-width: 700px;
	width: 100%;
}
.panel .container h2 {
	margin-bottom: 0.3em;
}
.panel input, .panel textarea, .panel select{
	max-width: 100%;
	width: 100%;
	margin-bottom: $xsmall-em;
}
.panel{
	padding: $small-percentage;
	width: 100%;
	position: fixed;
	height: calc(100% - 51px);
	overflow-y: auto;
	top: 51px;
	left: 0;
	z-index: 4;
	background: #fff;
	display: none;
}
.loginScreen p{
	width: 100%;
}
.panel button, .panel input[type="submit"]{
	margin-bottom: $medium-percentage;
}
.close-icon{
	cursor: pointer;
	font-size: 1.5em;
	position: absolute;
	right: 0;
	top: 0;
	transform: rotate(45deg);
	z-index: 2;
}
