.partners{
  background: $lightgrey;
  text-align: center;
  padding: 0 $medium-percentage $small-percentage;
  width: 100%;
}

.partners ul{
  padding: $small-percentage 0;
}
.partners ul li{
  width: 100%;
  max-width: 15%;
  margin: 0 3%;
  height: auto;
  display: inline-block;
}

.partners ul li a{
  opacity: .6;
}
.partners ul li a:hover{
  opacity: 1;
}

.partners ul .waag{
  max-width: 25%;
}