.partners{
  background: $lightgrey;
  text-align: center;
  width: 100%;
}

.partners ul{
  padding: $small-em 0;
}
.partners ul li{
  width: 100%;
  max-width: 200px;
  margin: 0 3%;
  height: auto;
  display: inline-block;
}

.partners ul li a{
  opacity: .6;
}
.partners ul li a:hover{
  opacity: 1;
}

.partners ul .waag{
  max-width: 250px;
}
