.projectVersions {
	border-bottom: 1px solid $lightgrey;
	color: $darkgrey;
}

.projectVersionsList h2 {
	text-transform: uppercase;
	margin-bottom: 0.2em;
}

.projectVersionsList li{
	border-top: 1px solid #eee;
	width: 100%;
}
.projectVersionsList ul{
 display: none;
}
#commitdifferencedetails li{
	padding: $xsmall-em;
	background: rgba($brand-color, .1);
}
#commitdifferencedetails li:nth-child(even){
	background: rgba($brand-color, .2);
}
.addFiles{
	width: 100%;
	width:100%;
	padding: 3% 0;
	box-sizing: border-box;
}
.addFiles input{
	margin-bottom: $xsmall-em;
	border-color: $mediumgrey;
}
.addFiles ul li:first-child{
	border-top: 0;
}
.addFiles ul li{
	padding: $xsmall-em;
}
.addFiles ul li:nth-child(even){
	background: rgba(50,50,50, .1);
}
.addFiles #files{
	margin-bottom: 2em;
}
.versionDetails{
	margin-top: $small-em;
}
.versionDetails{
	display: none;
}
.versionDetails li{
	background: rgba($brand-color, 0.1);
	padding: $tiny-em $small-em;
}
.versionDetails li:nth-child(odd){
	background: rgba($brand-color, 0.15);
}
.userProjectVersions {
	background-color: rgba(white, .3);
	color: $darkgrey;
}
.projectVersionsList .icon-eye{
	cursor: pointer;
}
//#repositoryMessages{
//	background: rgba($brand-color, .5);
//	padding: $small-em $medium-em;
//}
#revertcommit, #resetcommit{
	display: none;
}
