.mainContent .projectHeader .select-style{
	padding: 5px 45px 5px 10px;
}

.button__bar{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 15px !important;
	background-color: rgba(250,250,250,.2) !important;
}
.button__bar .inner{
	background: transparent !important;
	padding: 0 !important;
}

.projectHeader {
	border-bottom: $lightgrey 1px solid;
}

.projectHeader select{
	padding: .3em;
	color: white;
}

.projectHeader p{
	max-width: 800px;
	margin-bottom: $small-em
}

.editprojecticon{
	cursor: pointer;
}
.loggedIn .designerView .projectHeader {
	margin-top: 0;
}


.mainContent .col-2 {
		box-shadow: inset 1px 0 0 0 $lightgrey;
}
