.mainContent .projectHeader .select-style{
	padding: 5px 45px 5px 10px;
}
.projectHeader{
	background-color: $darkgrey;
}
.projectHeader select{
	padding: .3em;
	color: white;
}
.projectHeader p{
	max-width: 800px;
	margin-bottom: $small-em
}
.projectHeader a{
	color: lightblue
}
.editProjectBtn, .stopEditing{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.editPage{
	display: none;
}