.questionsList li{
	padding: $xsmall-em $small-em;
	width: 100%;
	background: rgba(white, .2);
}
.questionsList li:nth-child(odd){
	background: rgba(white, .4);
}
.questionsList li .gamma{
	margin-bottom: 0;
}
.questionsList .icon-messages::before{
	position: relative;
	top: 3px;
}
