.mainSearch{
	width: 100%;
	background-color: white;
	@include box-sizing(border-box);
	padding: $small-em $medium-em;
	border-bottom: 1px solid #ddd;
}
.mainSearch li{
	display: inline;
	margin: 0 0 0 $medium-em;
	line-height: 3.125em;
}
.mainSearch input{
	width: 24.375em;
	height: 3.125em;
	padding: 0 $small-em;
	@include box-sizing(border-box);
}
.mainSearch button{
	height: 3.125em;
	padding: 0 $small-em;
	margin: 0 0 0 $tiny-em;
}
.searchContent .searchForm{
	background-color: white;
	padding: $small-percentage;
}
.searchContent .searchForm #teaser, .searchContent .searchForm #description{
	display: none;
}
.searchForm {
	width: 100%;
}
.searchContent .searchForm  input, .searchContent .searchForm  select{
	float: left;
	margin: 0 $tiny-percentage $xsmall-em 0;
	max-height: 3.40em;
	width: 30%;
}