.skills{
	width: 100%;
}

.skills ul li{
	padding: $xsmall-em;
	width: 100%;
}
.skills ul li a{
	color: $darkgrey;
}
.skills ul li:nth-of-type(odd){
	background: rgba($darkgrey, .1);
}
.skills ul li:nth-of-type(even){
	background: rgba($darkgrey, .2);
}

.skills .editPage{
	margin: $small-em 0;
}
#newskillname{
	width: 100%;
	color: $darkgrey;
}

.newskill{
	width: 100%;
	margin-bottom: $xsmall-em;
}
