.tagsSection{
	background: rgba(255,255,255, .75);
	padding: $medium-percentage;
	width: 100%;
}
#selecttags{
	padding: $xsmall-percentage 0;
	margin-bottom: $xsmall-percentage;
	float: left;
}
#selecttags label{
	margin-left: $xsmall-em;
	text-transform: capitalize;
}

#selecttags li{
	margin-bottom: $xsmall-em;
	font-size: 1.2em;
	color: white;
	padding: $xsmall-em 1em;
	border-radius: 4px;
	margin-right: $xsmall-em;
	background: rgba($brand-color, .75);
	display: inline;
	float: left;
}
#listtags{
	padding: 0 0 3% 0;
	display: none;
}
#listtags li{
	display: inline-block;
	padding: $xsmall-em;
	color: white;
	background: rgba($brand-color, .5);
	border-radius: 10px;
	margin-right: $xsmall-em;
	font-size: 1.2em;
}
#newtagname{
	width: 100%;
}
.newtag{
	margin-bottom: $xsmall-em;
	width: 100%;
}