.userHeader .projectMainDes{
	width: 100% !important;
}
.mainContent .userHeader .icon{
	width: 100% !important;
	height: 100%;
}

.usertitle{
	margin-bottom: 0.5em;
}
.userDes #teaser{
  padding-bottom: $small-em;
}
.reputation{
  font-size: 1em;
}
